<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="style/style.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


        <title>Document</title>
    </head>
    <body>
            <!--          <h1>Paypal</h1>  -->
       
        <form name="f1" action="/paypal">
            <!--     <button type="submit">Pay</button>       -->
            
        </form>


        <div id="preloader">
            <h1>S'il vous plaît, attendez...</h1>
          <div id="loader"></div>
        </div>
    </body>
   
</html>